:root {
    --primary-color:#6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.7);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-weight-lg: 76%;
    --container-weight-md: 90%;
    --container-weight-sm: 94%;

    --transition: all 400ms ease;
}





/*=== GALLERY SECTION DESIGN IS HERE ===*/


.gallery {
    margin-bottom: -3rem;
}

.containers{
    max-width: 1200px;
    align-items: center;
    margin-top: -3rem;
    border-bottom: 1px solid goldenrod;
 }

.containers .main-video-container{
    flex:1 1 700px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background-color: var(--color-bg1);
    padding:15px;
 }
 
 .containers .main-video-container .main-video{
    margin-bottom: 7px;
    border-radius: 5px;
    width: 100%;
 }
 
 .containers .main-video-container .main-vid-title{
    font-size: 15px;
    color:gold;
    font-family: 'Advent Pro', sans-serif;
 } 

 .containers .video-list-container{
    flex:1 1 350px;
    height: 485px;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background-color: #fff;
    padding:15px;
 }
 
 .containers .video-list-container::-webkit-scrollbar{
    width: 10px;
 }
 
 .containers .video-list-container::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 5px;
 }
 
 .containers .video-list-container::-webkit-scrollbar-thumb{
    background-color: #444;
    border-radius: 5px;
 }
 
 .containers .video-list-container .list{
    display: flex;
    align-items: center;
    gap:15px;
    padding:10px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
 }
 
 .containers .video-list-container .list:last-child{
    margin-bottom: 0;
 }
 
 .containers .video-list-container .list.active{
    background-color: #444;
 }
 
 .containers .video-list-container .list.active .list-title{
    color:#fff;
 }
 
 .containers .video-list-container .list .list-video{
    width: 100px;
    border-radius: 5px;
 }
 
 .containers .video-list-container .list .list-title{
    font-size: 17px;
    color:#444;
 }





 /* HERE GALLERY SECTION  */

#gallery {
    margin-top: 3rem;
}
.gallery-head h2 {
    text-align: center;
    color: goldenrod;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 2px;
}

.gallery-sub-title {
    text-align: center;
    color: #a9811d;
    font-family: 'Advent Pro', sans-serif;
    margin-top: -3rem;
    letter-spacing: 1px;

}


.gallery-container p {
    width: 40rem;
    margin-bottom: 1rem;
    line-height: 20px;
}


.swiper-wrapper {
    margin-top: 3rem;
    padding-bottom: 5rem;
    height: 37rem;
}
.swiper-slide {
    border: 0.5rem solid var(--primary-color);
    height: fit-content;
    overflow: hidden;
    max-height: 35rem;
    transition: var(--transition);
}
.swiper-slide:hover {
    box-shadow: 0 3rem 3rem rgba(98, 218, 71, 0.4);
    cursor: pointer;
    transition: var(--transition);
}
.swiper-slide img {
    transition: var(--transition);
    border: var(--color-warning);
}

.swiper-pagination-bullet {
   background-color: gold;
}








/*=== SEARCH SECTION DESIGN IS HERE ===*/

.search-container {
   margin-bottom: -13rem;
}

.input-box {
   position: relative;
   height: 76px;
   max-width: 900px;
   width: 100%;
   background: #fff;
   margin: 0 20px;
   margin-top: 5rem;
   border-radius: 8px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 }
 .input-box i,
 .input-box .button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }
 .input-box i {
   left: 20px;
   font-size: 30px;
   color: #707070;
 }
 .input-box input {
   height: 100%;
   width: 100%;
   outline: none;
   font-size: 18px;
   font-weight: 400;
   border: none;
   padding: 0 155px 0 65px;
   background-color: transparent;
 }
 .input-box .button {
   right: 20px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   border: none;
   padding: 12px 30px;
   border-radius: 6px;
   background-color: #4070f4;
   cursor: pointer;
 }
 .input-box .button.clicked {
   transform: translateY(-50%) scale(0.98);
 }














/* <=== (: MEDIA QUERIES SECTION FOR MOBILE :) ===> */

@media screen and (max-width: 1024px) {
   .container {
      width: var(--container-weight-md);
   }


   #gallery {
      margin-top: -5rem;
   }




   .search-container {
      margin-top: 5rem;
   }
   .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
   
}